<div class="col-xl-12 border py-5 px-3 vh-100 container-fluid p-0">
    <h2 class="fw-bold ps-3 py-2">Módulo de Pedido</h2>
    <form class="col-xl-12 px-3 mt-4 d-flex align-items-center flex-column row gy-2">
        <div class="col-xl-6">
            <label for="quantidade" class="fs-3 d-block">Caixa</label>
            <select class="rounded col-xl-12 p-2 border" aria-label="Default select example" id="categoria"
                name="categoria" [(ngModel)]="this.caixa">
                <option *ngFor="let caixa of this.caixas" [ngValue]="caixa">{{ caixa.numero }}</option>
            </select>
        </div>
        <div class="col-xl-6" *ngIf="this.caixa">
            <label for="nome" class="fs-3 text-start d-block">Cliente</label>
            <select class="rounded col-xl-12 p-2 border" aria-label="Default select example" id="categoria"
                name="categoria" [(ngModel)]="this.pedido.cliente">
                <option *ngFor="let cliente of this.clientes" [ngValue]="cliente">{{ this.cliente.nome }}</option>
            </select>
        </div>
        <div class="col-xl-6 d-flex align-items-center justify-content-between flex-column" *ngIf="this.pedido.cliente">
            <p class="fs-3 text-start col-xl-12">Produtos</p>
            <app-produtos-pedido-form class="col-xl-12 overflow-auto"
                (onAdicionarProduto)="this.adicionarProduto($event)"></app-produtos-pedido-form>
        </div>
        <div class="col-xl-6 mt-3">
            <button class="btn btn-lg btn-primary col-12"
                *ngIf="!this.isEdicao"    
                (click)="this.save()">Cadastrar</button>
            <button class="btn btn-lg btn-primary col-12"
                *ngIf="this.isEdicao"
                (click)="this.save()">
                Salvar
            </button>
        </div>
    </form>
</div>