<div class="col-xl-12 py-5 px-3 container-fluid">
    <h2 class="fw-bold ps-3 py-2">Módulo de Produto</h2>
    <div class="col-xl-12 p-3 d-flex flex-column align-items-center pt-5">
        <ul class="list-group-flush col-xl-6 p-2 row gy-3">
            <li class="list-group-item border-bottom">
                <h3 class="fw-bold">Identificador</h3>
                <p class="fs-4">- {{produto.id}}</p>
            </li>
            <li class="list-group-item border-bottom">
                <h3 class="fw-bold">Nome</h3>
                <p class="fs-4">- {{produto.nome}}</p>
            </li>
            <li class="list-group-item border-bottom">
                <h3 class="fw-bold">Preço</h3>
                <p class="fs-4">- R$ {{produto.preco}}</p>
            </li>
            <li class="list-group-item border-bottom">
                <h3 class="fw-bold">Quantidade Estoque</h3>
                <p class="fs-4">- {{produto.quantidade}}</p>
            </li>
            <li class="list-group-item border-bottom">
                <h3 class="fw-bold">Categoria</h3>
                <p class="fs-4">- {{produto.categoria?.nome}}</p>
            </li>
        </ul>
    </div>
    <div>

    </div>
</div>  